/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    background-color: #007eb299;
}

#testoAlternato {
    width: 600px;
    height: 150px;
    background-color: aliceblue;
    border: 1px solid;
}

p {
    font-size: 21px;
    margin: 25px;
    line-height: 30px;
}